.launcher-option {
  padding: 5px;

  .launcher-option__icon {
    font-size: 32px;
  }

  .launcher-option__icon-symbolic {
    font-size: 32px;
    min-width: 32px;
  }

  .launcher-option__name {
    font-size: 18px;
  }

  .launcher-option__description {
    font-size: 10px;
  }

  &.launcher-option_selected {
    color: black;
    background-color: rgba(white, 0.8);
    border-radius: 4px;

    .launcher-option__icon {
      -gtk-icon-shadow: 1px 1px black;
    }
  }
}
