@use './modules/style.scss';

.launcher__box {
  padding: 5px;
  background-color: rgba(#1e2127, 0.9);
  border: 1px solid #33ccffee;
  border-radius: 4px;

  .launcher__input {
    box-shadow: none;
    outline: none;
    border: none;
    color: white;
    background-color: #282b31;
    padding: 0 8px;
    border-radius: 4px;
  }
}
