@use "../../../nordic.scss";

.workspace {
  label {
    transition: color 0.2s ease;

    color: nordic.$aurora1;
  }

  &.empty label {
    color: nordic.$frost4;
  }

  &:disabled label {
    color: nordic.$snowStorm1;
  }
}
