@use "../nordic.scss";
@use "./modules/weather/weather.scss";
@use "./modules/music/music.scss";
@use "./modules/workspaces/workspaces.scss";

.topbar {
  background-color: transparent;
}

.group {
  color: nordic.$snowStorm1;
  background-color: rgba(nordic.$polarNight2, 0.8);

  border-radius: 999px;
  padding: 5px 10px;
}

.icon {
  color: nordic.$aurora1;
}
